<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmount.db.product.dao.GdItemstypeRelMapper" >
  <resultMap id="BaseResultMap" type="com.tmount.db.product.dto.GdItemstypeRel" >
    <id column="items_id" property="itemsId" jdbcType="BIGINT" />
    <id column="items_type" property="itemsType" jdbcType="INTEGER" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="orders_time" property="ordersTime" jdbcType="TIMESTAMP" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="up_flag" property="upFlag" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="update_no" property="updateNo" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="itemsInfoMap" type="com.tmount.db.product.dto.GdItemsInfo" >
    <id column="items_id" property="itemsId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="show_type" property="showType" jdbcType="INTEGER" />
    <result column="has_child" property="hasChild" jdbcType="CHAR" />
    <result column="items_name" property="itemsName" jdbcType="VARCHAR" />
    <result column="name_spr" property="nameSpr" jdbcType="VARCHAR" />
    <result column="items_intro" property="itemsIntro" jdbcType="VARCHAR" />
    <result column="small_pic" property="smallPic" jdbcType="BIGINT" />
    <result column="big_pic" property="bigPic" jdbcType="BIGINT" />
    <result column="http_url" property="httpUrl" jdbcType="VARCHAR" />
    <result column="web_url" property="webUrl" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="aunit" property="aunit" jdbcType="CHAR" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
    <result column="member_price" property="memberPrice" jdbcType="DOUBLE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="update_no" property="updateNo" jdbcType="INTEGER" />
    <result column="discuss_count" property="discussCount" jdbcType="INTEGER" />
    <result column="comment_value" property="commentValue" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="itemstypeRelInfoMap" type="com.tmount.db.product.vo.GdItemstypeRelInfo" extends="itemsInfoMap">
    <id column="items_type" property="itemsType" jdbcType="INTEGER" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="up_flag" property="upFlag" jdbcType="CHAR" />
    <result column="orders_time" property="ordersTime" jdbcType="TIMESTAMP" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    items_id, items_type, data_type, orders_time, orders, up_flag, update_time, state, update_no
  </sql>

  <sql id="Extend_Column_List" >
    a.items_id, a.shop_id, a.show_type, a.has_child, a.items_name, a.name_spr, a.items_intro,
    a.small_pic, a.big_pic, a.http_url, a.web_url, a.price, a.aunit, a.discount, a.member_price, a.discuss_count, a.comment_value, b.update_time, 
    b.state, b.update_no, b.items_type,b.data_type, b.up_flag, b.orders_time, b.orders
  </sql>

  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.tmount.db.product.dto.GdItemstypeRel" >
    select 
    <include refid="Base_Column_List" />
    from gd_itemstype_rel
    <where>
      <if test="itemsId != null">
        items_id = #{itemsId,jdbcType=BIGINT}
      </if>
      <if test="dataType != null">
        and data_type = #{dataType,jdbcType=INTEGER}
      </if>
      <if test="itemsType != null">
        and items_type = #{itemsType,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <delete id="deleteByItemsId" parameterType="java.lang.Long" >
    delete from gd_itemstype_rel
    where items_id = #{itemsId,jdbcType=BIGINT}
  </delete>
  
  <delete id="deleteByShopId" parameterType="java.lang.Long" >
    delete from gd_itemstype_rel
    where items_id in (
    	select items_id
    	  from gd_items_info
    	 where shop_id = #{shopId,jdbcType=BIGINT}
        )
  </delete>
  <select id="selectItemstypeRelList" resultMap="itemstypeRelInfoMap" parameterType="java.util.Map" >
    select 
    <include refid="Extend_Column_List" />
    from gd_items_info a, gd_itemstype_rel b, gd_items_type_dic c
    where a.items_id = b.items_id
      and b.items_type = c.items_type
      <if test="companyId != null and companyId != 0">
      and c.company_id = #{companyId,jdbcType=INTEGER}
      </if>
      <if test="shopId != null and shopId != 0">
      and a.shop_id = #{shopId,jdbcType=BIGINT}
      </if>
      <if test="state != null">
      and b.state = #{state,jdbcType=CHAR}
      </if>
      <if test="itemsType != null and itemsType != 0">
      and b.items_type = #{itemsType,jdbcType=INTEGER}
      </if>
      <if test="dataType != null">
      and b.data_type = #{dataType,jdbcType=INTEGER}
      </if>
    <choose>
	    <when test="orderName != null and orderValue != null">
	      <if test="orderName = 'price'">
            order by a.price
	      </if>
	      <if test="orderName == 'collect_cout'">
            order by a.collect_cout
	      </if>
	      <if test="orderName == 'sale_count'">
            order by a.sale_count
	      </if>
	      <if test="orderName == 'up_flag'">
            order by b.up_flag
	      </if>
	      <if test="orderValue == 'desc'">
            desc
	      </if>
	    </when>
	    <otherwise>
	      order by b.items_type, b.orders_time desc
	    </otherwise>
    </choose>
    <if test="start != null">
    limit #{start},#{end}
    </if>
  </select>
  
  <select id="selectByPKExpl" resultMap="itemstypeRelInfoMap" parameterType="com.tmount.db.product.dto.GdItemstypeRelKey" >
    select 
    <include refid="Extend_Column_List" />
    from gd_items_info a, gd_itemstype_rel b
    where a.items_id = b.items_id
      and b.items_type = #{itemsType,jdbcType=INTEGER}
      and b.items_id = #{itemsId}
    order by orders_time desc
  </select>

  <select id="selectItemstypeRelListCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    count(1)
    from gd_items_info a, gd_itemstype_rel b, gd_items_type_dic c
    where a.items_id = b.items_id
      and b.items_type = c.items_type
      <if test="companyId != null and companyId != 0">
      and c.company_id = #{companyId,jdbcType=INTEGER}
      </if>
      <if test="shopId != null and shopId != 0">
      and a.shop_id = #{shopId,jdbcType=BIGINT}
      </if>
      <if test="itemsType != null and itemsType != 0">
      and b.items_type = #{itemsType,jdbcType=INTEGER}
      </if>
      <if test="dataType != null">
      and b.data_type = #{dataType,jdbcType=INTEGER}
      </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tmount.db.product.dto.GdItemstypeRelKey" >
    select 
    <include refid="Base_Column_List" />
    from gd_itemstype_rel
    where items_id = #{itemsId,jdbcType=BIGINT}
      and items_type = #{itemsType,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tmount.db.product.dto.GdItemstypeRelKey" >
    delete from gd_itemstype_rel
    where items_id = #{itemsId,jdbcType=BIGINT}
      and items_type = #{itemsType,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmount.db.product.dto.GdItemstypeRel" >
    insert into gd_itemstype_rel (items_id, items_type, data_type, orders_time, 
      orders, up_flag, update_time, 
      state, update_no)
    values (#{itemsId,jdbcType=BIGINT}, #{itemsType,jdbcType=INTEGER}, #{dataType,jdbcType=INTEGER}, #{ordersTime,jdbcType=TIMESTAMP}, 
      #{orders,jdbcType=INTEGER}, #{upFlag,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=CHAR}, #{updateNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tmount.db.product.dto.GdItemstypeRel" >
    insert into gd_itemstype_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemsId != null" >
        items_id,
      </if>
      <if test="itemsType != null" >
        items_type,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="ordersTime != null" >
        orders_time,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="upFlag != null" >
        up_flag,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="updateNo != null" >
        update_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemsId != null" >
        #{itemsId,jdbcType=BIGINT},
      </if>
      <if test="itemsType != null" >
        #{itemsType,jdbcType=INTEGER},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="ordersTime != null" >
        #{ordersTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="upFlag != null" >
        #{upFlag,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="updateNo != null" >
        #{updateNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmount.db.product.dto.GdItemstypeRel" >
    update gd_itemstype_rel
    <set >
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="ordersTime != null" >
        orders_time = #{ordersTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="upFlag != null" >
        up_flag = #{upFlag,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="updateNo != null" >
        update_no = #{updateNo,jdbcType=INTEGER},
      </if>
    </set>
    where items_id = #{itemsId,jdbcType=BIGINT}
      and items_type = #{itemsType,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmount.db.product.dto.GdItemstypeRel" >
    update gd_itemstype_rel
    set data_type = #{dataType,jdbcType=INTEGER},
      orders_time = #{ordersTime,jdbcType=TIMESTAMP},
      orders = #{orders,jdbcType=INTEGER},
      up_flag = #{upFlag,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=CHAR},
      update_no = #{updateNo,jdbcType=INTEGER}
    where items_id = #{itemsId,jdbcType=BIGINT}
      and items_type = #{itemsType,jdbcType=INTEGER}
  </update>
</mapper>