<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmount.db.product.dao.GdItemsDetailMapper" >
  <resultMap id="BaseResultMap" type="com.tmount.db.product.dto.GdItemsDetail" >
    <id column="items_id" property="itemsId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="update_no" property="updateNo" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tmount.db.product.dto.GdItemsDetail" extends="BaseResultMap" >
    <result column="detail_describe" property="detailDescribe" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    items_id, update_time, state, update_no
  </sql>
  <sql id="Blob_Column_List" >
    detail_describe
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gd_items_detail
    where items_id = #{itemsId,jdbcType=BIGINT}
  </select>
</mapper>