<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmount.db.order.dao.ReOrderInvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.tmount.db.order.dto.ReOrderInvoice" >
    <id column="order_no" property="orderNo" jdbcType="BIGINT" />
    <result column="invoice_info" property="invoiceInfo" jdbcType="VARCHAR" />
    <result column="invoice_code" property="invoiceCode" jdbcType="VARCHAR" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="invoice_content" property="invoiceContent" jdbcType="VARCHAR" />
    <result column="identification" property="identification" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="op_time" property="opTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_no, invoice_info, invoice_code, invoice_title, invoice_content, identification, mark, user_id, 
    op_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from re_order_invoice
    where order_no = #{orderNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from re_order_invoice
    where order_no = #{orderNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tmount.db.order.dto.ReOrderInvoice" >
    insert into re_order_invoice (order_no, invoice_info, invoice_code, 
      invoice_title, invoice_content, identification, mark, 
      user_id, op_time)
    values (#{orderNo,jdbcType=BIGINT}, #{invoiceInfo,jdbcType=VARCHAR}, #{invoiceCode,jdbcType=VARCHAR}, 
      #{invoiceTitle,jdbcType=VARCHAR}, #{invoiceContent,jdbcType=VARCHAR}, #{identification,jdbcType=VARCHAR}, #{mark,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{opTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tmount.db.order.dto.ReOrderInvoice" >
    insert into re_order_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="invoiceInfo != null" >
        invoice_info,
      </if>
      <if test="invoiceCode != null" >
        invoice_code,
      </if>
      <if test="invoiceTitle != null" >
        invoice_title,
      </if>
      <if test="invoiceContent != null" >
        invoice_content,
      </if>
      <if test="identification != null" >
        identification,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="invoiceInfo != null" >
        #{invoiceInfo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null" >
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTitle != null" >
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoiceContent != null" >
        #{invoiceContent,jdbcType=VARCHAR},
      </if>
      <if test="identification != null" >
        #{identification,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmount.db.order.dto.ReOrderInvoice" >
    update re_order_invoice
    <set >
      <if test="invoiceInfo != null" >
        invoice_info = #{invoiceInfo,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null" >
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTitle != null" >
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invoiceContent != null" >
        invoice_content = #{invoiceContent,jdbcType=VARCHAR},
      </if>
      <if test="identification != null" >
        identification = #{identification,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_no = #{orderNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmount.db.order.dto.ReOrderInvoice" >
    update re_order_invoice
    set invoice_info = #{invoiceInfo,jdbcType=VARCHAR},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      invoice_content = #{invoiceContent,jdbcType=VARCHAR},
      identification = #{identification,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      op_time = #{opTime,jdbcType=TIMESTAMP}
    where order_no = #{orderNo,jdbcType=BIGINT}
  </update>
</mapper>