<!-- 视频模板 -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
<style type="text/css">
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	color: #FFFFFF;
}
</style>
</head>
<body>
	<center>
		<table width="100%" height="100%" cellpadding="0" cellspacing="0"
			border="0">
			<tr>
				<td align="center" valign="middle">
				
					<object
						type="application/x-shockwave-flash" id='myFlashMovie'
						align="middle" data="" wmode="transparent" height="100%" width="100%">
						<param name="movie"	value="{movie}" /><!-- http://player.56.com/1000000010/open_MTI3NDkxOTE1.swf -->
						<param name="quality" value="" />
						<param name="wmode" value="" />
						<param name="bgColor" value="#FFFFFF" />
						<param name="allowScriptAccess" value="always" />
						<param name="menu" value="false" />
						<param name="scale" value="" />
						<param name="allowFullScreen" value="true" />
					</object>
			<!--		<embed width="100%" height="100%" name="plugin" 	src="http://player.56.com/1000000010/open_MTI3NDkxOTE1.swf"  type="application/x-shockwave-flash">-->
				</td>
			</tr>
		</table>
	</center>
</body>
</html>
